{% extends 'base.html' %}
{% block title %}New Password{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title">Set New Password</h3>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>New Password</label>
              <div class="input-group">
                <input type="password" name="new_password" id="id_password" class="form-control" required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-success" id="togglePwd">Show</button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const toggleBtn = document.getElementById("togglePwd");
  const pwdInput = document.getElementById("id_password");
  toggleBtn.addEventListener("click", function () {
    const isPassword = pwdInput.type === "password";
    pwdInput.type = isPassword ? "text" : "password";
    toggleBtn.textContent = isPassword ? "Hide" : "Show";
  });
</script>
{% endblock %}