{% extends 'base.html' %}
{% load humanize %}
{% block title %}Checkout{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<h3>Checkout</h3>
<form method="post" class="row g-4 mb-5">
  {% csrf_token %}
  <div class="col-md-7">
    <div class="card card-body">
      {{ form|crispy }}
    </div>
  </div>
  <div class="col-md-5">
    <div class="card card-body">
      <h5>Order summary</h5>
      <ul class="list-group">
        {% for i in cart_items %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ i.product.title }} x {{ i.quantity }}</span>
            <span>₦{{ i.line_total|floatformat:2|intcomma }}</span>
          </li>
        {% endfor %}
      </ul>
      <div class="mt-3">
        <p><strong>Total:</strong> ₦{{ totals.total|floatformat:2|intcomma }}</p>
      </div>
      <button class="btn btn-success btn-block">Place order</button>
    </div>
  </div>
</form>
{% endblock %}