{% extends 'base.html' %}
{% load humanize %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="row mb-3">
    <!-- Sidebar with categories -->
    <div class="col-12">
      <h3>Categories:</h3>
    </div>
    {% for c in categories %}
    <div class="col-md-3mb-4 p-1 main-div">
      <a href="{% url 'catalog:category_list_by_category' c.slug %}">
        <div class="card shadow category-item py-2 px-2">
            <div class="col-sm-12 image-grid">
              {% if c.images.all %}
                {% for p in c.images.all|slice:":6" %}
                <img src="{{ p.image.url }}" alt="{{ c.name }}" class="grid-img" loading="lazy">
                {% endfor %}
              {% else %}
                <div class="grid-img item-placeholder">No image</div>
              {% endif %}
            </div>
            <div class="item-label">{{ c.name }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
</div>
{% endblock %}